@page
@model School.Auth.Pages.Users.ListModel
@{
    ViewData["Title"] = "Пользователи";
}

<div class="container">
    <h2 class="bg-primary text-center text-white p-1 mb-2">@ViewData["Title"]</h2>

    <div class="mb-3">
        <form asp-page="List" asp-page-handler="Search" method="post">
            <div class="form-group">
                <label asp-for="SearchString">Поиск по Email среди всех пользователей:</label>
                <input type="search" asp-for="SearchString" class="form-control" placeholder="Поиск..." />
            </div>
        </form>
    </div>

    <form method="post">
        <select asp-for="Role" asp-items="@(new SelectList(Model.Roles))" class="form-select" onchange="this.form.submit()">
            <option>All</option>
        </select>
    </form>

    <table class="table table-sm table-bordered my-3">
        <thead>
            <tr class="text-center">
                <th>Имя</th>
                <th>Email</th>
                <th class="col-4"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">Нет пользователей</td>
                </tr>
            }
            else
            {
                foreach (IdentityUser user in Model.Users)
                {
                    <tr class="cell_justify">
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td class="text-center">
                            <form asp-page="List" asp-page-handler="Delete" method="post">
                                <input type="hidden" name="Id" value="@user.Id" />
                                <a class="btn btn-sm btn-primary mx-2" asp-page="Editor" asp-route-id="@user.Id" asp-route-mode="edit">Редактировать</a>
                                <button type="submit" class="btn btn-sm btn-danger mx-2">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="text-center mb-5">
        <a class="btn btn-primary" asp-page="Create">Создать</a>
    </div>
</div>
