@page
@model School.Auth.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Создание нового ученика";
}

<div class="container">
    <div class="row">
        <div class="col-12 py-2">
            <h2 class="text-center title_font pb-3">
                @ViewData["Title"]
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-9 container-fluid">
            <form asp-page="/Students/Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <input asp-for="ids" type="hidden" value="@Model.ids" />

                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Имя ученика</label>
                    <input asp-for="UserName" class="form-control" value="@Model.UserName" placeholder="Имя..." />
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control" value="@Model.Email" placeholder="Email..." />
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Phone">
                        Номер телефона<br/>
                        <small>Format: +79991112233</small>
                    </label>
                    <input type="tel" asp-for="Phone" class="form-control" value="@Model.Phone" pattern="\+7\d{10}" />
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Password" class="control-label">Пароль</label>
                    <input type="password" asp-for="Password" class="form-control" value="@Model.Password" placeholder="Пароль..." />
                </div>

                <div class="form-group mt-2">
                    <label asp-for="ConfirmPassword" class="control-label">Пароль</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" value="@Model.ConfirmPassword" placeholder="Пароль..." />
                </div>

                <div class="form-group mt-2">
                    <label asp-for="CourseId" class="control-label">Добавить курс?</label>
                    <select asp-for="CourseId" asp-items="@(new SelectList(Model.Courses, "courseId", "title"))" class="form-control">
                        <option value="" disabled selected>Без курса</option>
                    </select>
                </div>

                <div class="container-fluid text-center mt-4 mb-5">
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn_itd text-center mx-3" />
                        <a asp-page="List" asp-route-ids="@Model.ids" class="btn btn-sm btn_itd_outline text-center mx-3">Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
