@page "{id}"
@model School.Auth.Pages.Students.EditorModel
@{
    ViewData["Title"] = Model?.Student?.UserName;
}

<div class="row">
    <div class="col-12 mt-4 mb-4">
        <h2 class="text-center title_font">
            Курсы ученика: @ViewData["Title"]
        </h2>
    </div>
</div>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" name="studentid" value="@Model.Student.Id" />
    <input asp-for="ids" type="hidden" value="@Model.ids" />

    <div class="container">
        <div class="col-10 container-fluid">
            <div class="back0 my-2">
                <h4 class="text-center subtitle_font pb-3">
                    Приобретенные курсы
                </h4>
            </div>

            <table class="table table-sm table-striped table-bordered">
                <tbody>
                    @if (Model.Purchased().Count() == 0)
                    {
                        <tr class="cell_justify">
                            <td colspan="3" class="text-center"><h6 class="m-2">Нет приобретенных курсов</h6></td>
                        </tr>
                    }
                    else
                    {
                        foreach (StudentCourseLookupDto course in Model.Purchased())
                        {
                            <tr>
                                <td><h6 class="ml-3">@course.title</h6></td>
                                <td class="col-3 text-center">
                                    <button type="submit" asp-route-courseid="@course.courseId" class="btn btn-sm btn_del text-center">Удалить</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-5">
        <div class="col-10 container-fluid">
            <div class="back0 my-2">
                <h4 class="text-center subtitle_font pb-3">
                    НЕ приобретенные курсы
                </h4>
            </div>

            <table class="table table-sm table-striped table-bordered">
                <tbody>
                    @if (Model.NonPurchased().Count() == 0)
                    {
                        <tr class="cell_justify">
                            <td colspan="3" class="text-center"><h6 class="m-2">Нет НЕ приобретенных курсов</h6></td>
                        </tr>
                    }
                    else
                    {
                        foreach (StudentCourseLookupDto course in Model.NonPurchased())
                        {
                            <tr>
                                <td><h6 class="ml-3">@course.title</h6></td>
                                <td class="col-3 text-center">
                                    <button type="submit" asp-route-courseid="@course.courseId" class="btn btn-sm btn_itd text-center">Добавить</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<div class="container-fluid text-center mt-4 mb-5">
    <div class="form-group">
        <a asp-page="List" asp-route-ids="@Model.ids" class="btn btn_itd_outline text-center mx-3">Назад</a>
    </div>
</div>
